<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajouter un trajet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <div class="form1">
        <center><p>Ajouter un trajet <ion-icon name="bus-outline"></ion-icon> </p></center>
        <ion-list>
          <ion-item>
            <!-- <ion-icon name="arrow-up-circle-outline"></ion-icon> -->
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-input type="text" [(ngModel)]="villeDepart" placeholder="Ville de depart"></ion-input>
            <!-- <ion-icon name="location-outline"></ion-icon> -->
            <ion-icon name="log-in-outline"></ion-icon>
            <ion-input type="text" [(ngModel)]="villeArrivee" placeholder="Ville de d'arrive"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="calendar-number-outline"></ion-icon>
            <ion-input type="date" [(ngModel)]="dateDepart" placeholder="Date"></ion-input>
            <ion-icon name="time-outline"></ion-icon>
            <ion-input type="time" [(ngModel)]="heureDepart" placeholder="Heure de depart"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="people-outline"></ion-icon>
            <ion-input type="number" [(ngModel)]="nombreDePlaces" placeholder="Nombre de places"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-euro"></ion-icon>
            <ion-input type="text" [(ngModel)]="prix" placeholder="Prix de transport en CFA"></ion-input>
          </ion-item>
          <!-- <ion-datetime first-day-of-week="1"></ion-datetime> -->
          <div class="ion-padding">
            <ion-button (click)="onCreateClick()" expand="block" fill="outline" color="primary"><b>Valider</b></ion-button>
          </div>
        </ion-list>
      </div>
</ion-content>