<!-- <ion-header>
  <ion-toolbar>
    <ion-title>create_trajet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="info-conducteur" text="retour"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vos Trajets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="text1"><strong><center>User: Mr inconnue</center></strong></div>
      <div class="form1">
        <p>Ajouter un trajet</p>
        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="Ville de depart"></ion-input>
            <ion-input type="text" placeholder="Ville de d'arrive"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="calendar-number-outline"></ion-icon>
            <ion-input type="date" placeholder="Date"></ion-input>
            <ion-label><b>Heure  </b></ion-label>
            <ion-input type="time" placeholder="Heure de depart"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="number" placeholder="Nombre de places"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Prix de transport en CFA"></ion-input>
          </ion-item>
      
          <div class="ion-padding">
            <ion-button expand="block" fill="outline" color="primary"><b>Valider</b></ion-button>
          </div>
        </ion-list>
      </div>
</ion-content>