#container{
    margin-bottom: 50px;
    margin-top: 35px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
}
.ion-padding{
    margin-top: 35px;
}