.form1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    width: 85%;
    margin-left: 27px;
    margin-top: 20px;
    border-radius: 5%;
    overflow: hidden;
    background: rgba(187, 191, 192, 0.863);
  }
  ion-item ion-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }
  ion-item ion-label ion-input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background: rgba(187, 191, 192, 0.863);
  }