<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong>Home</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Bienvenue sur <a href="#">covoiturage.com</a></p>
    <div class="img1"><img src="../../assets/img/img1.svg" alt=""></div>
    <div class="text1"><strong>Où que vous alliez, votre sécurité est notre priorités</strong></div>
    <ion-button shape="round" color="secondary" class="btn1" routerLink="/accueil" ><strong>Continuer >></strong></ion-button>
  </div>

</ion-content>
