<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong>Accueil</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-searchbar> </ion-searchbar>
  <ion-item lines="full">
    <ion-label>Selectionner le type de recherche</ion-label>
    <ion-select>
      <ion-select-option [value]="null">All</ion-select-option>
      <ion-select-option [value]="null">Date</ion-select-option>
      <ion-select-option [value]="null">Depart</ion-select-option>
      <ion-select-option [value]="null">Destination</ion-select-option>
    </ion-select>
  </ion-item>
  <div id="container">
    <!-- <div class="img1"> -->
      <!-- <div class="text1"><strong><center>Où souhaitez vous aller ?</center></strong></div>
      <div class="form1">
        <ion-list>
          <ion-item>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label><b>Depart:</b></ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <ion-label><b>Destination:</b></ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="calendar-number-outline"></ion-icon>
            <ion-label><b>Date:</b></ion-label>
            <ion-input type="date"></ion-input>
          </ion-item>
      
          <div class="ion-padding">
            <ion-button expand="block" fill="outline" color="primary"><b>Recherche</b></ion-button>
          </div>
        </ion-list>
      </div> -->

      <!-- <div class="text1"><strong><center>Proposer un trajet</center></strong></div>
      <div class="form2">
        <ion-list>
          <div class="ion-padding">
            <ion-button expand="block" fill="outline" color="primary" routerLink="/login"><b>Proposer</b></ion-button>
          </div>
        </ion-list>
      </div> -->

      <div class="text2"><strong><center> La liste des trajets disponibles.</center></strong></div>
      <ion-list  id="my-custom-class">
        <ion-item *ngFor="let trajet of (trajets | async)">
          <ion-label>
            <p>De {{trajet.villeDepart}} a {{trajet.villeArrivee}}</p>
            <p>le {{trajet.dateDepart}}, heure de depart : {{ trajet.heureDepart }}</p>
            <p>Prix: <b>{{ trajet.prix }} FCFA</b></p>
          </ion-label>
          <ion-button slot="end" fill="outline" [routerLink]="['/detail-trajet',trajet.id]">Detail</ion-button>
            <!-- Reserver<ion-icon name="paper-plane-outline"></ion-icon> -->
        </ion-item>
      </ion-list>
    <!-- </div> -->
    
  </div>

</ion-content>
