.text1{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #060706;
    // background: rgba(1, 58, 66, 0.863);
    // margin-top: 90px;
  }
  .text2{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #060706;
    // background: rgba(1, 58, 66, 0.863);
    // margin-top: 90px;
  }

  ion-content.background{
    --background: url(../../assets/img/bgaccuel.png) 0 0/100% no-repeat;
  }
  .form1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    width: 80%;
    margin-left: 35px;
    margin-top: 80px;
    border-radius: 5%;
    overflow: hidden;
  }
  ion-item ion-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }
  ion-item ion-label ion-input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }
  .form2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    width: 80%;
    margin-left: 35px;
    // margin-top: 80px;
    border-radius: 5%;
    overflow: hidden;
  }
  